<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Chatting">

    <ion-content>
       
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">name</span>
                <input type="text" placeholder="Name"  ng-model="chatting.name">
            </label>
            <label class="item item-input item-floating-label" ng-model="chatting.message">
                <span class="input-label">said</span>
                <input type="text" placeholder="Said">
            </label>
        </div>
        
        <button class="button button-full button-positive" ng-click="onBtnClick()">
            POST
        </button>



        <div class="card">
            <div class="item item-text-wrap">
                {{answer.content}}
            </div>
        </div>
        </ion-content>
</ion-view>
